/* Resets & Utilities */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: rgb(247,179,49);
}
body {  
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background: url("../img/bg.jpg") no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Header */
header {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
header .logo {
  width: 130px;
  height: 130px;
  margin: 1% 25%;
}
header nav ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
header nav ul li{
  position: relative;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: 0.1rem 0.1rem #000;
  white-space: nowrap;
}
header nav ul li i{
  color: #fff;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: .75rem 2rem;
}
header nav ul li a:hover, 
header nav ul li a:hover i{
  color: var(--primary-color);
}
/* Dropdown Menu */
header nav ul li ul{
  display: none;
}
header nav ul li:hover ul{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2.5rem;
  left: 0;
  white-space: nowrap;
}
header nav ul li:hover ul li span{
  font-size: 0.6rem;
}


/* Main */
main {
  display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr auto minmax(5rem, 1fr);
}
main #profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  grid-column: 2/3;
  margin: 15% auto;
}
main div{
  grid-column: 2/3;
  margin: 2% auto;
  text-align: center;
}
main h1 {
  border-bottom: 4px solid var(--primary-color);
  text-shadow: 0.2rem 0.2rem #000;
  margin-bottom: 0.8rem;
}
main h2 {
  font-style: italic;
  font-size: 1.6rem;
  text-shadow: 0.2rem 0.2rem #000;
  margin-bottom: 2.5rem;
}
main a.portfolio{
  color: #000;
  background: #fff;
  font-style: italic;
  font-size: 1.25rem;
  letter-spacing: 0.7rem;
  text-decoration: none;
  border-radius: 25px;
  padding: 0.75rem 2.5rem;
}
main a.portfolio:hover{
  background: var(--primary-color);
}
main div:last-child {
  grid-column: 2/3;
  margin: 3rem auto;
  font-size: 0.8rem;
}
main div:last-child a{
  color: #0795C3;
}
/* Media Queries */
@media(max-width: 800px){
  
  header .logo {
    width: 110px;
    height: 110px;
    margin: 1% 10%;
  }
  header nav ul{
    display: grid;
    margin-right: 2rem;
    text-align: end;
  }
  header nav ul li:first-child{
    order: 1;
  }
  header nav ul li a {
    font-size: 1rem;
    padding: 1rem 0.8rem;
  }
  header nav ul li:hover ul{
    left: -1.5rem;
<<<<<<< HEAD
    white-space: wrap;
=======
>>>>>>> 43e6e282419e5a7cefdf3d39f245e9f2e19b55ac
  }
}
@media(max-width: 586px){
  header .logo {
    width: 80px;
    height: 80px;
  }
  header nav ul li a {
    font-size: 0.8rem;
    padding: 1rem 0.5rem;
  }
}