/* Variables */
:root{
   --primary-color: rgb(247,179,49);
   --accent-color: rgb(9, 78, 110);
   --text-color: #222;
   --text-hover: #fff;
}
/* Reset & Utilities */
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;  
}
body{
   background: rgb(228, 225, 225);
   font-family: Arial, Helvetica, sans-serif;
   color: var(--text-color);
}
.container{
   max-width: 1100px;
   margin: auto;
   overflow: hidden;
}
li{
   list-style: none;
}
a{
   text-decoration: none;
   color: var(--text-color);
}
a:hover{
   color: var(--text-color);
}
h3{
   font-size: 1.5rem;
}
.primary-btn{
   background: var(--primary-color);
   color: var(--text-hover);
   font-weight: 700;
}
.primary-btn:hover{
   color: var(--text-color);
}

/* Header */
#header {
   background: var(--accent-color);
   padding: 0.6rem;   
}
#header .container{
   display: flex;
      justify-content: flex-end;
}
#header a{
   color: var(--text-hover);
   padding-left: 1rem;
}
#header a:hover{
   font-weight: 550;
}

/* Navbar */
#navbar{
   background: rgb(243, 243, 243);
}
#navbar .container{
   display: flex;
      justify-content: space-between;
      align-items: center;
}
#navbar .nav-logo{
   height: 2.87rem;
   width: 2.9rem;
   margin-left: 1rem;
}
#navbar .nav-menu ul{
   display: flex;
      justify-content: flex-end;
}
#navbar .nav-menu ul li{
   padding: 1rem;
}
#navbar .nav-menu ul li:hover{
   font-weight: 700;
}

/* Main */
#main{
   margin: 2.5rem 0;
   display: grid;
      grid-template-columns: 1fr 2fr 1fr;
}
#main a {
   background: var(--text-hover);
   padding: 1rem;
   border-bottom: gray 1px dotted;
   grid-column: 2 / 3;
}
#main a:hover{
   background: var(--primary-color);
}
#main section:hover p::first-letter{
   font-size: 2.5rem;
   font-weight: 900;
}
#main a h3{
   margin-bottom: 0.1rem;
}
#main a p{
   margin: 0.65rem 0;
   font-size: 1.2rem;
}

/* Footer */
#footer{
   background: rgb(243, 243, 243);
   padding: 1rem 0;
   display: flex;
      flex-direction: column;
      align-items: center;
}
#footer a{
   color: var(--primary-color);
   margin: 0 0.25rem;
}
#footer .footer-links{
   margin-bottom: 1.2rem;
   font-size: 0.8rem;
}
#footer .footer-links a:hover{
   color: var(--text-color);
}
#footer .footer-social{
   margin-bottom: .6rem;
}
#footer .footer-social a:hover{
   color: var(--text-color);
}
#footer .footer-logo{
   height: 3.5rem;
   width: 3.5rem;
   margin-bottom: .4rem;
}
#footer small{
   font-size: .4rem;
}