:root {
  --primary-color: #E1873E;
}
body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}
.active {
  font-weight: 900;
  font-size: 1.3rem;
}
header {
  background: url('./img/bg.jpg') no-repeat center center/cover;
  height: 100vh;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
header nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  margin: 0 1.5rem;
}
header nav div:first-child a:hover, 
header nav div:last-child a:hover {
  font-weight: 900;
}
header nav .fab {
  font-size: 1.5rem;
}
header nav .fab:hover {
  font-size: 1.8rem;
}
header nav .skeet {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 5.5rem;
  color: var(--primary-color);
}

header div h3 {
  text-align: center;
  margin-top: 250px;
  color: #fff;
  font-size: 1.5rem;
}
/* DRINKS */
main {}
main h2 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 900;
  margin: 4rem 0;
}
main .menu {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 3rem;
}
main .menu ul {
  list-style: none;
  max-width: 275px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0 2rem;
}
main .menu ul li {
  margin: 1rem 0;
}
main .menu ul .menu-style {
  font-weight: 500;
  margin-bottom: 3rem;
}

/* ARTICLES */
article {
  padding: 4rem 0 2rem 0;
  background: #333;
  color: #fff;
}
article .article {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
}
article .article:first-child,
article .article:nth-child(2) {
  border-bottom: 1px dotted #888;
}
article .article img {
  height: 250px;
  width: 375px;
  margin-right: 1.5rem;
}
article .article h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5rem;
}
article .article p {
  font-size: 1.2rem;
  margin: 1.3rem 0;
}
article .article small {
  color: #888;
}

/* ABOUT */
#about {
  display: flex;
  justify-content: flex-end;
  height: 700px;
  background: var(--primary-color);
}
#about div:first-child {
  background: url('./img/roland-denes-zeZMi6Y4fZY-unsplash.jpg') no-repeat center center/cover;
  width: 100%;
  border-bottom-right-radius: 50%;
}
#about div:first-child h2 {
  font-size: 5rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: underline;
  color: #fff;
  text-align: end;
  text-shadow: 1px 2px #333;
  margin: 3rem 6rem 0 0;
}
#about div:last-child {
  width: 70%;
  padding: 4rem 1.5rem;
}
#about div:last-child p {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 2rem;
  max-width: 500px;
}
/* CONTACT */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}
#contact div:first-child {
  border-bottom: 1px dotted;
  padding-bottom: 1rem;
}
#contact h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1.25rem;
}
#contact p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
}
#contact form {
  width: 700px;
}
#contact h2 {
  font-size: 3.3rem;
  text-align: center;
  font-weight: 800;
  margin: 3rem 0;
}
#contact form label {
  display: block;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
#contact form input,
#contact form textarea {
  width: 100%;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
#contact form input[type="submit"] {
  cursor: pointer;
  background-color: #333;
  color: #fff;
  width: 200px;
  padding: 0.75rem;
  border-radius: 35px;
  margin-top: 0.5rem;
}
#contact form input[type="submit"]:hover {
  color: var(--primary-color);
}

/* FOOTER */
footer {
  padding: 2.5rem 0 1rem 0;
  background: #333;
  color: #fff;
}
footer .social {
  display: flex;
  justify-content: center;
}
footer .social a {
  font-size: 1.2rem;
  color: #fff;
  background: var(--primary-color);
  border-radius: 50%;
  margin: 1rem;
  padding: 1rem;
}
footer .social a:hover {
  color: #111;
}
footer .foot-info {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  margin-bottom: 2rem;
}
footer .foot-info p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
footer .foot-info div:last-child {
  text-align: end;
}
footer div:last-child {
  text-align: center;
  font-size: 0.8rem;
}


@media(max-width: 938px) {
  header nav {
    display: grid;
    grid-template-columns: 1fr 625px 1fr;
    margin: 0 auto;
  }
  header nav div:nth-child(2){
    order: -1;
    grid-column: 1 /span 3;
    justify-self: center;
    margin-bottom: 1rem;
  }
  header nav div:first-child{
    justify-self: flex-start;
    grid-row: 2;
    grid-column: 2/2;
}
  header nav div:last-child{
    justify-self: flex-end;
    grid-row: 2;
    grid-column: 2/2;
}


}